/* GLOBAL */
html {background: white;}
body {direction: ltr !important;}

/* NAV */
.overlay #nav-icon {margin-top: 85px; opacity: 0.7;}
.overlay {height: 100%; width: 100%; display: none; position: fixed; z-index: 99; top: 0; left: 0; background-color: rgba(0,0,0,0.93);}
.overlay-content {position: fixed; top: 20%; left: 0; width: 100%; text-align: center;} /* used to be position: relative */
nav {top: -125px;}
nav a {
	text-decoration: none;
	margin: 0 75px;
	transition: all 1s;
	text-decoration-color: transparent;
	-webkit-text-decoration-color: white;
	-moz-text-decoration-color: white;
}
 nav a:hover {
 	text-decoration: underline;
 	text-decoration-color: white;
 	-webkit-text-decoration-color: white;
 	-moz-text-decoration-color: white;
}

/* HEADER HERO */
header, #header-retreats, #header-about, #header-team {height: 100vh; padding-top: 40px; box-sizing: border-box; background-position: center; background-repeat: no-repeat; background-size: cover; border: 0; color: white;}
#header-home {background-image: url('img/hero.png');}
#header-retreats {background-image: url('img/retreats.png'); margin-top: 150px;}
#header-about {background-image: url('img/about.png'); margin-top: 150px;}
#header-team {background-image: url('img/team.png'); margin-top: 150px;}
header p {margin-top: 30px; padding-top: 20px; max-width: 800px; margin: 0 auto; color: white;}
p + p {padding-top: 15px;}
p, a {font-family: Helvetica, sans-serif; font-size: 1.125rem; text-align: center; color: black; font-weight: 200;}
header p {color: white;}
#text-hero {font-family: 'SuperLightItalic', Georgia, serif; font-weight: 100; color: white; font-size: 3.5rem; line-height: 1.1; margin-top: 50px; margin-bottom: 20px;}
.section-title {font-family: 'SuperLightItalic', Georgia, serif; font-weight: 100; color: black; font-size: 3.5rem; line-height: 1.1; margin-top: 50px; margin-bottom: 100px;}
header em {font-family: 'SuperLightItalic', Georgia, serif; font-weight: 100; font-style: italic; color: white; font-size: 1.125rem;}
#header-home img {max-width: 220px;}

/* CALLOUT */
.callout {margin-top: 50px;}
.callout i {font-weight: bold; font-style: italic;}
#learnmore-expand i {font-weight: normal; font-style: italic;}

/* CONTENT */
.content-home img {width: 100%;}
.content-home  {margin-top: 50px;}
.content-home h2 {padding-bottom: 20px;}
.content-home + .content-home {margin-top: 150px;}
.bio p {font-size: 0.875rem;}
#home {margin-top: 200px; margin-bottom: 200px;}
sub {font-size: 60%;}
.main-section {margin-top: 100px;}
.main-section p {text-align: left;}
.retreats-section-title {font-family: 'SuperLightItalic', Georgia, serif; font-weight: 100; color: black; font-size: 3.5rem; line-height: 1.1; margin-top: 100px; margin-bottom: 50px;}
.retreats-section-title-follow {font-family: 'SuperLightItalic', Georgia, serif; font-weight: 100; color: black; font-size: 3.5rem; line-height: 1.1; margin-top: 150px; margin-bottom: 50px;}
.retreats-indi-section-title {font-family: 'SuperLightItalic', Georgia, serif; font-weight: 100; color: black; font-size: 3.5rem; line-height: 1.1; margin-top: 50px; margin-bottom: 100px;}
.sub-section {font-family: 'SuperLightItalic', Georgia, serif; font-weight: 100; color: black; font-size: 1.75rem; line-height: 1.1; margin-top: 50px;}
p.retreats {font-family: Helvetica, sans-serif; font-weight: 200; color: black; font-size: 1.125rem; line-height: 1.5;}
p.retreats-text {margin-bottom: 50px;}
.team-name {font-family: 'SuperLightItalic', Georgia, serif; font-weight: 100; color: black; font-size: 1.75rem; line-height: 1.1;}
.team-title {font-family: Helvetica, sans-serif; font-size: 1rem; color: black; font-weight: bold; margin-top: -10px; margin-bottom: 20px;}
.team-bio {font-family: Helvetica, sans-serif; font-size: 1rem; color: black; font-weight: 200;}
.team-block {margin-bottom: 100px;}
.team-block img {width: 100%;}
ul, li {font-family: Helvetica, sans-serif; font-weight: 200; color: black; font-size: 1.125rem; line-height: 1.5; text-align: left;}
ul {padding-inline-start: 0px;}
li{margin: 10px 0;}

/* ACTION */
.action {margin-top: 50px;}
.action h2 {padding: 150px 0 40px 0;}

/* BUTTONS */
#signup-button, #signup-button button {text-align: center; font-weight: normal; margin-top: 150px; margin-bottom: 150px;}
.action a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	font-size: 1.125rem;
	margin-top: 50px;
	padding-bottom: 10px;
	color: black;
	font-family: 'Barlow', Sans-Serif;
	font-weight: bold;
	line-height: 1.5;
}

.overlay-content a {
	padding: 15px;
	text-decoration: none;
	font-size: 2rem;
	color: white;
	opacity: 0.7;
	display: block;
	font-family: 'Barlow', Sans-Serif;
	font-weight: bold;
	max-width: 220px;
	margin: 0 auto;
}

.overlay-content a:hover {opacity: 1; transition: opacity 0.2s ease-in 0.1s;}
/* .overlay .closebtn {position: absolute; top: 20px; right: 45px; font-size: 60px;} */
.inline-link a {margin-top: 0;}
a, a:hover, a:visited {color: white; text-decoration: underline;}
a {transition: color .3s ease-out;}
.retreats a, .retreats a:visited, .benefits-links a, .benefits-links a:visited {color: black;}
.team-bio a, .team-bio a:visited {font-size: 1rem; color: black;}
.retreats a:hover, .benefits-links a:hover, .team-bio a:hover {color: #9564ae;}

/* FOOTER */
.footer img, footer img {
	max-width: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
}

/* RWD */
@media only screen and (max-width: 1200px) {
	nav a {margin: 0 50px;}
}

@media only screen and (max-width: 960px) {
	nav a {margin: 0 40px;}
	#header-home h1 {font-size: 2rem;}
	.content-home h2 {margin-top: 0; padding-top: 0;}
	.content-home p {font-size: 1.25rem;}
	.prev-next span {display: none;}
	#text-hero {font-size: 2.25rem;}
	p, a {font-size: 1rem;}
}

@media only screen and (max-width: 720px) {
	nav a {margin: 0 30px;}
	h1, h2 {font-size: 2rem;}
}

@media only screen and (max-width: 719px) {
	nav {top: -150px;}
	nav a {margin: 0 20px;}
	.content-joinus .joinus-category-rwd {margin-top: 25px;}
}

@media only screen and (max-width: 540px) {
	#text-hero {font-size: 2rem;}
	p, a, .team-bio, .team-bio a, .team-bio a:hover {font-size: 0.875rem;}
	header em {font-size: 0.875rem;}
	header p {margin-top: 20px; padding-top: 0;}
	#text-hero {margin-top: 35px;}
	#header-home img {max-width: 180px;}
}